html, body {
    font-family: Arial, Helvetica, sans-serif;
}
.fixed-container {
    width: 1000px;
    margin: 0 auto 0 auto;
}
header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    margin-right: 20px;
    color: black;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.phone-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.button-top {
    margin-left: 20px;
    border: 1px solid rgba(171, 64, 221, 0.014);
    background-color: rgb(226, 119, 226);
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}
.picture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 400px;
    background-image: url("niva.jpg");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: right center;
}
.button  {
    margin-top: 20px;
    border: 1px solid rgba(171, 64, 221, 0.014);
    background-color: rgb(226, 119, 226);
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}
.AboutMe {
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.AboutMe div {
    height: 180px;
    padding-top: 200px;
    background-size: 125px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("Wheel.jpg");
}
/*bottom-container*/
.AboutMe-More {                                 
    display: flex;
    justify-content: space-between;
    height: 350px;
}
.AboutMe-More div {
    width: 333px;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 330px;
}
.More-Page-1 {
    background-image: url("PetrolTruck.jpg");
}
.More-Page-2 {
    background-image: url("RacePin.png");
}
.More-Page-3 {
    background-image: url("Evo.jpg");
}
